@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #37617a;
  --primary-color-dark: #0d1a20;
  --secondary-color: #fb923c;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #7aa7ba, #0d1a20);
}

.container {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.links div {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 10px;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.links div:hover {
  /* color: var(--secondary-color); */
  color: #255784;
  background: #7aa7ba;
  border-radius: 20%;
  transition: 0.5s;
  box-shadow: 0 0 5px #7aa7ba, 0 0 10px #7aa7ba,0 0 15px #7aa7ba;

}

.links div span {
  font-size: 1.2rem;
}

.links a {
  text-decoration: none;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  animation: shoe-animation 3s infinite;
  overflow: hidden;
}

.image img {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: auto;
  transform: rotate(-20deg);
}

@keyframes shoe-animation {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header {
  position: absolute;
  top: 7rem;
  left: 20%;
  transform: translateX(-50%);
}

.header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--white);
}

.header p {
  text-align: right;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.header p:hover {
  color: var(--secondary-color);
}

.tryNow{
  margin-top: 20%;
}
.tryNow a {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.5s;
}
.tryNow a:hover {
  color: #255784;
  background: #7aa7ba;
  transition: 0.5s;
  box-shadow: 0 0 5px #7aa7ba,
   0 0 10px #7aa7ba,0 0 15px #7aa7ba;
}

.featured_item {
  position: absolute;
}

.featured_item h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--white);
}

.featured_item p {
  color: var(--white);
}
.productsText h4{
  /* position: absolute; */
  /* padding-top: 3%; */
  margin: 3%;
  padding-left: 0%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: var(--white);
  letter-spacing: 3px;
}

.productsText h4:hover{
  /* color: rgb(0, 225, 255); */
  color: rgb(73, 185, 230);
}
.productsText h4:active{
  color: #005266;
  scale: 95%;
}

.page2 {
  padding: 0%;
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.page2 h5 {
  /* padding-top: 10%; */
  /* padding-left: 40%; */
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--white);
  letter-spacing: 3px;
}
.page2 p {
  padding-top: 3%;
  /* padding-left: 40%; */
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1rem;
  color: white;
}
.cardLeft {
  width: 70%;
  margin: 60px 50px;
  margin-right: 25%;
  border: 2px solid #7aa7ba;
  border-radius: 16px;
  box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596);
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardRight {
  width: 70%;
  margin: 60px 50px;
  margin-left: 25%;
  border: 2px solid #7aa7ba;
  border-radius: 16px;
  box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596);
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardDetails{
  margin: 40px;
}

.page3 {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.page3 h4{
  position: absolute;
  padding-top: 3%;
  padding-left: 0%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--white);
  letter-spacing: 3px;
}
.page3 h5 {
  padding-top: 10%;
  padding-left: 40%;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--white);
  letter-spacing: 3px;
}
.page3 p {
  padding-top: 3%;
  padding-left: 40%;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1rem;
  color: white;
}

.devPics {
  width: 500px;
  border-radius: 20px;
  box-shadow: 10px,10px,10px;

}

.noteMsg {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  background: #00000035;
  -webkit-mask-image: linear-gradient(90deg,transparent,
  #fff 20%,#fff 80%,transparent)
}
.scrolleffects {
  padding-top: 10%;
}

.scroll div {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image__img1 {
  max-width: 400px;
  width: 80%;
  margin: 0px 60px;
  /* margin-right: 25%; */
  /* border: 2px solid #7aa7ba; */
  border-radius: 80px;
  /* box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596); */
  /* display:flex; */
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
}

.image__img2 {
  max-width: 400px;
  width: 66%;
  /* margin: 60px 50px; */
  /* margin-right: 25%; */
  border: 2px solid #7aa7ba;
  border-radius: 80px;
  /* box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596); */
  display:flex;
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
}

.image__description {
  position: absolute;
  top : 0; 
  left: 0;
  width: 120%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;

  transform: translateY(20px);
  transition: transform 0.25s;
}
.image__description:hover {
  opacity: 1;
  transform: translateY(0);
}

@media (width < 640px) {
   .header {
    top: 1rem;
  }

  .featured_item {
    left: -5rem;
  }

  .contact {
    right: -4rem;
  }
  .cardLeft,.cardRight {
    align-items: center;
    margin: 0%;

  }
}
@media (width < 1200px){
  .header {
    position: absolute;
    top: 1rem;
    left: 30%;
  }
}
