@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #37617a;
  --primary-color-dark: #0d1a20;
  --secondary-color: #fb923c;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* flex-direction: column; */
  background-image: linear-gradient(to right bottom, #7aa7ba, #0d1a20);
}

.container {
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoClass {
  width: 30%;
  font-weight: 600;
  color: var(--white);
  /* cursor: pointer; */
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.links div {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 10px;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.links div:hover {
  /* color: var(--secondary-color); */
  color: #255784;
  background: #7aa7ba;
  border-radius: 20%;
  transition: 0.5s;
  box-shadow: 0 0 5px #7aa7ba, 0 0 10px #7aa7ba,0 0 15px #7aa7ba;

}

.links div span {
  font-size: 1.2rem;
}

.links a {
  text-decoration: none;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  animation: shoe-animation 3s infinite;
  overflow: hidden;
}

.image img {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: auto;
  transform: rotate(-20deg);
}

@keyframes shoe-animation {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header {
  position: absolute;
  top: 6rem;
  left: 25%;
  transform: translateX(-50%);
}

.header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--white);
}

.header p {
  text-align: right;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.header p:hover {
  color: var(--secondary-color);
}

.tryNow{
  margin-top: 20%;
}
.tryNow a {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20%;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.5s;
}
.tryNow a:hover {
  color: #255784;
  background: #7aa7ba;
  transition: 0.5s;
  box-shadow: 0 0 5px #7aa7ba,
   0 0 10px #7aa7ba,0 0 15px #7aa7ba;
}

.featured_item {
  position: absolute;
}

.featured_item h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--white);
}
.featured_item2{
  text-align: center;
}

.featured_item p ,.featured_item2 {
  color: var(--white);
}


.productsText h4{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: var(--white);
  letter-spacing: 3px;
}

.productsText h4:hover{
  color: rgb(73, 185, 230);
}
.productsText h4:active{
  color: #005266;
  scale: 95%;
}

.page2 {
  padding: 0%;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.page2 h5 {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--white);
  letter-spacing: 3px;
}
.page2 p {
  padding-top: 3%;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1rem;
  color: white;
}
.cardLeft {
  width: 68%;
  margin: 60px 0px;
  left: 20rem;
  margin-right: 25%;
  border: 2px solid #7aa7ba;
  border-radius: 16px;
  box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596);
  display:flex;
  align-items:center;
  justify-content:center;
}

.cardRight {
  width: 68%;
  margin: 60px 0px;
  margin-left: 25%;
  border: 2px solid #7aa7ba;
  border-radius: 16px;
  box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596);
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardDetails{
  margin: 40px;
}

.page3 {
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.page3 h4{
  position: absolute;
  padding-top: 3%;
  padding-left: 0%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--white);
  letter-spacing: 3px;
}
.page3 h5 {
  padding-top: 10%;
  padding-left: 40%;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--white);
  letter-spacing: 3px;
}
.page3 p {
  padding-top: 3%;
  padding-left: 40%;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1rem;
  color: white;
}

.devPics {
  width: 600px;
  border-radius: 20px;
  box-shadow: 10px,10px,10px;
}

.noteMsg {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  background: #00000035;
  -webkit-mask-image: linear-gradient(90deg,transparent,
  #fff 20%,#fff 80%,transparent)
}
.scrolleffects {
  padding-top: 10%;
}

.scroll div {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image__img1 {
  max-width: 400px;
  width: 80%;
  margin: 0px 60px;
  /* margin-right: 25%; */
  /* border: 2px solid #7aa7ba; */
  border-radius: 80px;
  /* box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596); */
  /* display:flex; */
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
  /* hi */
}

.image__img2 {
  max-width: 400px;
  width: 80%;
  margin: 20px 60px;
  scale: 0.86;
  /* margin-right: 25%; */
  /* border: 2px solid #7aa7ba; */
  /* border-radius: 80px; */
  /* box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596); */
  display:flex;
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
}
.image__img3 {
  max-width: 400px;
  width: 80%;
  margin: 20px 60px;
  scale: 0.85;
  /* margin-right: 25%; */
  /* border: 2px solid #7aa7ba; */
  /* border-radius: 80px; */
  /* box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596); */
  display:flex;
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
}
.image__img4 {
  max-width: 400px;
  width: 60%;
  margin: 20px 60px;
  scale: 1.1;
  /* margin-right: 25%; */
  /* border: 2px solid #7aa7ba; */
  /* border-radius: 80px; */
  /* box-shadow: 5px 5px 5px 5px rgba(39, 123, 165, 0.596); */
  display:flex;
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
}

.image__description {
  position: absolute;
  top : 0; 
  left: 0;
  width: 120%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image__description:hover {
  opacity: 1;
  transform: translateY(0);
}

/* footer  */

.footerClass{
  height: 60vh;
  

}
footer{
	position:relative;
	width:100%;
	height:30vh;
	padding:35px 100px;
	background:#002a3db7;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

footer .footer_container{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	flex-direction:row;
}

footer .footer_container .sec{
	margin-right:30px;
}

footer .footer_container .sec.aboutus{
	width:40%;
}

footer .footer_container h2{
	position: relative;
	color:#fff;
	font-weight:bold;
	margin-bottom:15px;
}

footer .footer_container h2:before{
	content:'';
	position:absolute;
	bottom:-5px;
	left:0;
	width:50px;
	height:2px;
	background:#8B0000;
}

footer p{
	color:#999;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sci{
	margin-top:20px;
	display:flex;
}


.sci li{
	list-style:none;
}

.sci li a{
	display:inline-block;
	width:40px;
	height:40px;
	background:#222;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	text-decoration:none;
	border-radius:50px;
}

.sci li a:hover{
	background:#8B0000;
}
.sci li a:active{
  scale: 95%;
}

.sci li a i{
	color:#fff;
	font-size:20px;
}

.quickLinks{
	position:relative;
	width:25%;
	margin-left:40px;
}

.quickLinks ul{
  padding-top: 10px;
}

.quickLinks ul li{
	list-style:none;
  padding-top: 5px;
}

.quickLinks ul li a{
	color:#999;
	text-decoration:none;
	margin-bottom:10px;
	display:inline-block;
	
}

.quickLinks ul li a:hover{
	color:#fff;
}

.contact .info{
	position:relative;
}

.info{
  padding-top: 12px;
}

.contact .info li{
	display:flex;
	margin-bottom:16px;
  padding-top: 6px;
}

.contact .info li span:nth-child(1){
	color:#fff;
	font-size:20px;
	margin-right:15px;
}

.contact .info li span{
	color:#999;
}

.contact .info li a{
	color:#999;
	text-decoration:none;
  text-transform: lowercase;
}

.contact .info li a:hover{
	color:#fff;
}

@media (width <= 1600px){
  .header {
    position: absolute;
    top: 1rem;
    left: 30%;
  }
  .cardLeft{
    margin-right: 10%;
  }
  .cardRight{
    margin-left: 10%;
  }
}

@media (width <= 1305px){
  .devPics {
    width: 500px;
  }
  .cardDetails{
    margin: 20px;
  } 
  footer{
    height: 60vh;
  }
}

@media(width <=992px){
  .logoClass{
    width: 35%;
    margin-left: 1rem;
  }
  .header {
    position: absolute;
    top: 1.5rem;
    left: 30%;
  }
  .tryNow{
    margin-top: 50%;
  }
  .featured_item {
    top: 19rem;
    left: 1.5rem;
  }
  .links{
    margin-right: 3rem;
  }
  .cardLeft{
    margin-right: 0%;
    width: 80%;
    margin: 40px 0px;
  }
  .cardRight{
    margin-left: 0%;
    width: 80%;
    margin: 40px 0px;
  }
  footer{
    height: 70vh;
  }
  footer .container .sec.aboutus{
    width:100%;
  }
   .contact .info{
    width: 100%;
  }    
}

@media (width <= 768px) {
  .header {
    position: absolute;
    top: 1rem;
    left: 40%;
  }
  .tryNow{
    margin-top: 55%;
  }
  .featured_item {
    top: 20rem;
    left: 1rem;
  }
  .logoClass{
    width: 35%;
    margin-left: 1rem;
  }
  .links{
    margin-right: 3rem;
  }
  .cardLeft{
    display:grid;
    width: auto;
  }
  .cardRight{
    display:grid;
    width: auto;
  }
  .devPics {
    width: 550px;
  }
  .page2 {
    align-items: center;
  }
  footer{
    height: 85vh;
    padding:20px 20px;
  }
  footer .footer_container .sec{
    margin-right:0px;
  }
  
  footer .footer_container .sec.aboutus{
    width:100%;
  }
  footer .footer_container .sec.quickLinks{
    width:100%;
    margin-left:0px;
  }
  footer .footer_container .sec.contact{
    width:100%;
  }
   footer .footer_container h2:before{
    width:100%;
    height: 1.5px;
  }

  /* .contact {
    right: -4rem;
  } */
  /* .cardLeft,.cardRight {
    align-items: center;
    margin: 0%;

  } */
}



@media(width <= 575px){
    .links{
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .logoClass{
      width: 60%;
    }
    .header h1{
      /* position: absolute; */
      margin-top: 15%;
      margin-left: 6%;
      font-size: 2.3rem;
      width: 100vw;
      text-align: center;
    }
    .tryNow a{
      font-size: 1.1rem;
      margin-top: 60%;
    }
    .featured_item {
      top: 32rem;
      left: 1rem;
    }
    .featured_item h4 {
      font-size: 1.3rem;
    }
    .featured_item p {
      font-size: 0.9rem;
    }
    .page2 {
      align-items: center;
    }
    .page2 h5 {
      font-size: 0.9rem;
      font-weight: 200;
      line-height: 1.5rem;
      color: var(--white);
      letter-spacing: 3px;
    }
    .page2 p {
      padding-top: 3%;
      font-size: 0.7rem;
      font-weight: 100;
      line-height: 0.8rem;
      color: white;
    }
    .cardLeft {
      width: 353px;
      margin: 40px 0px;
      left: 0rem;
      margin-right: 0%;
      display:grid;
      align-items:center;
      justify-content:center;
    }
    
    .cardRight {
      width: 353px;
      margin: 40px 0px;
      margin-left: 0%;
      display:grid;
      align-items: center;
      justify-content: center;
    }

    .cardDetails{
      margin: 20px;
    }
    .devPics {
      width: 349px;
    }
    footer{
      height: 100%;
    }
}
@media(height <= 975px){
  .featured_item {
    top: 35rem;
  }
}
@media(height <= 775px){
  .featured_item {
    margin-top: -2rem;
  }
  .featured_item2 {
      font-size: 0.9rem;
    }
}
@media(height <= 650px){
  .featured_item {
    margin-top: -5rem;
  }
}
@media(width <= 375px){
  .links div {
    padding: 0px 3px;
  }
  .header h1{
    /* position: absolute; */
    margin-top: 10%;
    margin-left: 8%;
    font-size: 2rem;
    width: 100vw;
    text-align: center;
  }
  .featured_item {
    top: 26rem;
  }
}